* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18466F;
    width: 100%;
    height: 100vh;
}

.connexion {
    display: flex;
    width: 750px;
    height: 450px;
    border-radius: 20px;
    background-color: #133D64;
}

.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: auto;
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
}

.inscription_1 {
    width: 430px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px;
}

.login_1 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.inscription_1 h1 {
    font-size: 30px;
    text-align: center;
    color: #18466F;
}

.inscription h1 {
    font-size: 30px;
    text-align: center;
    color: #18466F;
}

input {
    width: 350px;
    height: 44px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid rgb(207, 204, 199);
}

.checkbox_type {
    display: flex;
}

.checkbox {
    width: 30px;
    height: 15px;
}

.inscription button,
.inscription_1 button {
    width: 140px;
    height: 44px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 17px;
    background-color: #133D64
}

.inscription button a {
    color: white;

}

.paragrah {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #18466F;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bienvenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #133D64;
    width: 300px;
    color: white;
    gap: 20px;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 6px #f2f1f1;
}

.cercle h1 {
    color: #18466F;
}

.bienvenue h1 {
    font-size: 30px;
}

.bienvenue p {
    font-size: 18px;
    line-height: 1.3;
    padding-left: 15px;
    padding-right: 10px;
}








/* section principal */









/* 
.Id {
    width: 98%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 90px;
    height: 70px;
    justify-content: space-between;
    border: solid rgb(207, 204, 199);
}

.Id_1 {
    width: 98%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 90px;
    height: 90px;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid rgb(207, 204, 199);
    border-left: solid rgb(207, 204, 199);
    border-right: solid rgb(207, 204, 199);
}

.imoj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 60px;
    border-radius: 8px;
    background-color: #F9FAFC;
}

.imoj i {
    font-size: 28px;
    color: #707E94;
}

.cards_ {
    display: flex;
    align-items: center;
    width: 228px;
    height: 100px;
    gap: 8px;
}

.cards_ p {
    font-size: 16px;
}

.Id_1 p {
    width: 110px;
}

.LAPTOP {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #DFECFD;
    color: #5371CD;
}

.P10 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 50px;
    height: 35px;
    color: #2C7462;
    background-color: #E0FCEA;
}

.SMARTPHONE{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 140px;
    height: 35px;
    color: #2C7462;
    background-color: #E0FCEA;
}

.faible{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 110px;
    height: 35px;
    color: #2C7462;
    background-color: #E0FCEA;
}

.dollar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    font-size: 20px;
}

.imoj_2 i {
    font-size: 20px;
    color: #707E94;
}

.cards_2 {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 18px;
} */