* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18466F;
    width: 100%;
    height: 100vh;
}

.connexion {
    display: flex;
    width: 750px;
    height: 450px;
    border-radius: 20px;
    background-color: #133D64;
    overflow: hidden;
}

.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: auto;
    gap: 10px;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; */
    background-color: white;
}

.inscription_1 {
    width: 430px;
    background-color: white;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; */
    padding: 20px;
}

.login_1 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.inscription_1 h1 {
    font-size: 30px;
    text-align: center;
    color: #18466F;
}

.inscription h1 {
    font-size: 30px;
    text-align: center;
    color: #18466F;
}

input {
    width: 350px;
    height: 44px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid rgb(207, 204, 199);
}

.checkbox_type {
    display: flex;
}

.checkbox {
    width: 30px;
    height: 15px;
}

.inscription button,
.inscription_1 button {
    width: 140px;
    height: 44px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 17px;
    background-color: #133D64
}

.inscription button a {
    color: white;

}

.paragrah {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #18466F;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bienvenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #133D64;
    width: 300px;
    color: white;
    gap: 20px;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 0 6px #f2f1f1;
}

.cercle h1 {
    color: #18466F;
}

.bienvenue h1 {
    font-size: 30px;
}

.bienvenue p {
    font-size: 18px;
    line-height: 1.3;
    padding-left: 15px;
    padding-right: 10px;
}

@media (max-width: 425px) {
    .connexion{
        flex-direction: column;
        overflow: hidden;
        width: 350px;
        height: 800px;
    }
    .inscription,.inscription_1 {
    width: 100%;
    padding: 20px;
    }
    input {
    width: 270px;
    }

    .bienvenue {
        width: 100%;

    }
}

@media (max-width: 320px) {
    .connexion{
        width: 300px;
    }

}
